.img-cover {
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.title-text,
.card-text {
  color: whitesmoke;
}

.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
