nav {
  color: white;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  background: linear-gradient(
    90deg,
    rgba(1, 7, 22, 1) 0%,
    rgba(68, 133, 190, 1) 25%,
    rgba(1, 7, 22, 1) 100%
  );
}

.navbar a {
  color: whitesmoke;
}
