.navbar {
  background-color: #1f2941 !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: dodgerblue;
}

.navbar a:visited {
  color: dodgerblue;
}
