img {
  width: 100%;
}

body {
  color: whitesmoke;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-poster {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.7);
}
